# Sauce Labs
sauce_connect.log*

# node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

lib_managed
dist
tests/pages/*.js
tags/tag.min.js

# creds for Grunt
aws.json
