packages/snowplow-tracker-core/index.js
packages/snowplow-tracker-core/lib/*
packages/snowplow-tracker-core/src/*.js.map
packages/snowplow-tracker-core/src/*.js
**/dist
.tscache

# Tests suite
ngrok

# node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
**/node_modules
node_modules

**/lodash.js
tests/pages/*.js
tests/pages/integration.html
tests/local/serve/
tags/tag.min.js

# creds for Grunt
aws.json

# Vagrant
.vagrant
VERSION

src/js/lib_managed
build/
template/filled/
templates/filled/
temp/*

.nyc_output/